@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:500,300,200,100');
@import url('https://fonts.googleapis.com/css?family=MuseoSansCyrl:900,300,200,100');

@font-face {
font-family: 'Museo Sans 100 Thin';
src: url('fonts/MuseoSansCyrl-100.eot');
src: url('fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
url('fonts/MuseoSansCyrl-100.woff') format('woff'),
url('fonts/MuseoSansCyrl-100.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Museo Sans 900 Black';
src: url('fonts/MuseoSansCyrl-900.eot');
src: url('fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
url('fonts/MuseoSansCyrl-900.woff') format('woff'),
url('fonts/MuseoSansCyrl-900.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Open Sans, Arial, Helvetica Neue, Helvetica, Roboto, sans-serif;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*background: #b61924;*/
    background-image: url(/images/bgrnd.png), linear-gradient(115deg, #6039aa, #1c1e33);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%
}

.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: grid;
    grid-template-columns: 250px 300px 1fr 200px 250px;
    transition: all 200ms ease;    
}

.header-left {    
    grid-column-start: 2;
    text-align: left;
    height: 70px;
    width: 370px;
    line-height: 70px;
    margin-top: 15px
}

.landing-header__logo {
    width: 150px;
    margin: 0 auto
}

.landing-header__lang {
    float: right;
    width: 150px;
    margin-top: 5px;    
    line-height: 40px;
    vertical-align:central
}

/*---Select---*/
.custom-select {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    padding: 7px 16px;
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dedede;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    text-align: left;
    color: #3f3f3f;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer
}

.custom-select:focus,
.custom-select:hover {
    border-color: #6039aa
}

.custom-select__item,
.custom-select__item-label,
.custom-select__toggle {
    display: none
}

.custom-select__placeholder {
    line-height: 24px
}

.custom-select__item-label {
    display: block;
    width: 100%;
    height: 40px;
    padding: 9px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    cursor: pointer
}

.custom-select__item-label:focus,
.custom-select__item-label:hover {
    background-color: #f7f5fa
}

.custom-select__items {
    display: none;
    position: absolute;
    left: 0;
    top: 39px;
    z-index: 500;
    min-width: 100%;
    min-height: 94px;
    max-height: 500px;
    overflow-x: hidden;
    height: auto;
    margin-left: 0;
    padding: 7px 0;
    -webkit-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    cursor: pointer
}

.custom-select:after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: auto;
    bottom: auto;
    right: 12px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #ccc;
    border-top-width: 5px
}

.custom-select:after:hover {
    border-top-color: #ccc
}

.custom-select--open .custom-select__items {
    display: block
}

.custom-select--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.custom-select--open:after {
    content: "";
    position: absolute;
    top: calc(50% - 7px);
    left: auto;
    bottom: auto;
    right: 12px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-bottom-color: #ccc;
    border-bottom-width: 5px
}

.custom-select--lang {
    padding: 0 44px;
    font-size: 14px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/images/lang.svg);
    background-position: 12px 10px;
    cursor: pointer
}

.custom-select--lang:focus,
.custom-select--lang:hover {
    border-color: hsla(0, 0%, 100%, .5)
}

.custom-select--lang .custom-select__placeholder {
    font-size: 14px;
    line-height: 40px;
    color: #fff
}

.custom-select--lang:after {
    top: calc(50% - 2px);
    border: 5px solid transparent;
    border-top-color: #fff;
    border-top-width: 5px
}

.custom-select--lang.custom-select--open:after,
.custom-select--lang:after {
    content: "";
    position: absolute;
    left: auto;
    bottom: auto;
    right: 12px;
    height: 0;
    width: 0
}

.custom-select--lang.custom-select--open:after {
    top: calc(50% - 7px);
    border: 5px solid transparent;
    border-bottom-color: #fff;
    border-bottom-width: 5px
}

.header-nav {
    grid-column-start: 3;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.header-right{
    margin-top: 15px;
    margin-left: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

    .menu a {
        font-family: 'Montserrat', sans-serif;
        font-size: 135%;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        line-height: 70px;
    }

.hamburger {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    color: #fff;
}

#toggle {
    display: none;
}

.menu img {
    height: 35px;
    vertical-align: middle;
    margin-left: 5%;
}

.header-backround {
    background: rgba(50, 50, 50, 0.85);
}

.intro {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    z-index: 2;
}

    .intro .inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        max-width: none;
    }

.text-bold {
    font-family: 'Museo Sans 900 Black', sans-serif;
    font-weight: 900
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

    .content h1 {
        font-family: 'Museo Sans 100 Thin', sans-serif;
        text-transform: uppercase;
        font-size: 300%;
        font-weight: 100;
        color: #E1EFE9;
        line-height: 70%;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    .content h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 200%;
        font-weight: 300;
        color: #E1EFE9;
        line-height: 70%;
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }

.big-logo {
    margin-top: 0.3em;
}

.btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
    padding: 16px 56px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .5px;
    color: #fff;
    border-radius: 50px;
    -webkit-transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    -o-transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    cursor: pointer
}

.btn:focus,
.btn:hover {
    -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px)
}

.btn:active {
    -webkit-transition: -webkit-transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    transition: -webkit-transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    -o-transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
    transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
    transition: transform .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn--blue {
    background-color: #03a9f4
}

.btn--blue:focus,
.btn--blue:hover {
    background-color: #35baf6
}

.btn--blue:active {
    background-color: #028fcf
}

p {
    font-size: 150%;
    line-height: 120%;
    font-family: sans-serif;
}

.slider {
    height: 20px;
}

.container {
    color: hsla(0, 0%, 100%, .5);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

    .container h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 200%;
        font-weight: 200;
        color: hsla(0, 0%, 100%, .5);
        line-height: 5%;
    }

    .container ul {
        -webkit-padding-start: 0px;
    }

    .container li {
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-block;
        font-size: 1.3em;
        list-style-type: none;
        padding-left: 0.7em;
        padding-right: 0.7em;
        text-transform: uppercase;
    }

    .container li my-span{
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-block;
        font-size: 1.3em;
        list-style-type: none;
        padding-left: 0.7em;
        padding-right: 0.7em;
        text-transform: uppercase;
    }

        .container li span {
            font-family: 'Roboto Condensed', sans-serif;
            display: block;
            font-size: 4.5rem;
        }

.goals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding-top: 7%;
    padding-bottom: 3%;
}

    .goals header {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 150%;
        font-weight: 100;
        color: #E1EFE9;
        line-height: 150%;
        text-align: left;
    }

    .goals footer {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 150%;
        font-weight: 100;
        color: #E1EFE9;
        line-height: 150%;
        text-align: right;
    }

    .goals > .goal-1 {
        padding: 2px;
    }

    .goals > .goal-2 {
        padding: 2px;
    }

    .goals > .goal-3 {
        padding: 2px;
    }

    .goals > .goal-1 .slider {
        background: linear-gradient(90deg, #fff 0, #fff 6.29%, hsla(0, 0%, 100%, .3) 7.29%, hsla(0, 0%, 100%, .3));
    }

    .goals > .goal-2 .slider {
        background-color: hsla(0, 0%, 100%, .3);
    }


    .goals > .goal-3 .slider {
        background-color: hsla(0, 0%, 100%, .3);
    }

.about-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

    .about-block p {
        padding: 5%;
    }

.ico-block {
    height:50%;
    background: #333;
    vertical-align: middle;    
    text-align:center;
}

.ico-block p {
    color: #fff;
    font-family: Roboto Condensed, sans-serif;
    font-size: 1100%;    
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.contacts-block {
    height:50%;
    vertical-align: middle;    
    text-align:center;
}

.contacts-block p {
    font-family: Roboto Condensed, sans-serif;
    font-size: 10rem;   
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
    .content {
        
    }

        .content h1 {
            font-size: 450%;
        }

        .content h2 {
            font-size: 180%;
        }

    .big-logo {
        height: 80px
    }

    .btn {
        font-size: 130%;
        padding: 9px 17px;
    }

    .container h1 {
        font-size: 250%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        
    }

        .content h1 {
            font-size: 300%;
        }
        .content h2 {
            font-size: 150%;
        }

    .big-logo {
        height: 60px
    }

    .btn {
        font-size: 110%;
        padding: 7px 17px;
    }

    p {
        font-size: 120%;
        line-height: 100%;
    }

    .container h1 {
        font-size: 200%;
    }

    .about-block {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .menu a {
        font-family: 'Montserrat', sans-serif;
        font-size: 100%;
    }

    .menu img {
    height: 25px;
    vertical-align: middle;
    margin-left: 3%;
}

    .goals header {
        font-size: 130%;
        line-height: 130%;
    }

    .goals footer {
        font-size: 130%;
        line-height: 130%;
    }

    
}

@media screen and (max-width: 500px) {
    .hamburger {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
        line-height: 40px;
    }

    .header-nav {
        height: 40px;
        line-height: 40px;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

        .menu a {
            clear: right;
            display: block;
            background: #ccc;
            border-bottom: 1px solid #CBDFD6;
            margin: 0;
        }

    #toggle:checked + .menu {
        display: block;
    }

    .content {
        
    }

        .content h1 {
            font-size: 200%;
        }

        .content h2 {
            font-size: 120%;
        }

    .btn {
        font-size: 80%;
        padding: 5px 12px;
    }

    p {
        font-size: 100%;
        line-height: 100%;
    }

    .goals {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding-top: 3%;
    }

    .goals header {
        font-size: 110%;
        line-height: 110%;
    }

    .goals footer {
        font-size: 110%;
        line-height: 110%;
    }

    .slider {
    height: 12px;
}

    .container h1 {
        font-size: 130%;
    }

    .container h2 {
        font-size: 120%;
    }

    .container li {
        font-size: 0.8rem;
    }

    .container li span {
        font-size: 1.8rem;
    }

    .about-block {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}
