@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,200,100');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*background: #b61924;*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://static.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg');
    background-size: cover;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: all 200ms ease;
}

.header-nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

    .menu a {
        font-family: 'Montserrat', sans-serif;
        font-size: 135%;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        line-height: 70px;
    }

.hamburger {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    color: #fff;
}

#toggle {
    display: none;
}

.menu img {
    height: 35px;
    vertical-align: middle;
    margin-left: 5%;
}

.header-backround {
    background: rgba(50, 50, 50, 0.85);
}

.intro {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    z-index: 2;
}

    .intro .inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        max-width: none;
    }

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

    .content h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 500%;
        font-weight: 300;
        color: #E1EFE9;
        line-height: 70%;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    .content h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 200%;
        font-weight: 300;
        color: #E1EFE9;
        line-height: 70%;
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }

.big-logo {
    margin-top: 0.3em;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 135%;
    font-weight: 400;
    color: #E1EFE9;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #E1EFE9;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.2s;
}

    .btn:hover {
        color: #CBDFD6;
        border: solid #CBDFD6 2px;
    }

p {
    font-size: 150%;
    line-height: 120%;
    font-family: sans-serif;
}

.slider {
    height: 20px;
}

.container {
    color: hsla(0, 0%, 100%, .5);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

    .container h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 200%;
        font-weight: 200;
        color: hsla(0, 0%, 100%, .5);
        line-height: 5%;
    }

    .container ul {
        -webkit-padding-start: 0px;
    }

    .container li {
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-block;
        font-size: 1.3em;
        list-style-type: none;
        padding-left: 0.7em;
        padding-right: 0.7em;
        text-transform: uppercase;
    }

        .container li span {
            font-family: 'Roboto Condensed', sans-serif;
            display: block;
            font-size: 4.5rem;
        }

.goals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding-top: 7%;
    padding-bottom: 3%;
}

    .goals header {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 150%;
        font-weight: 100;
        color: #E1EFE9;
        line-height: 150%;
        text-align: left;
    }

    .goals footer {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 150%;
        font-weight: 100;
        color: #E1EFE9;
        line-height: 150%;
        text-align: right;
    }

    .goals > .goal-1 {
        padding: 2px;
    }

    .goals > .goal-2 {
        padding: 2px;
    }

    .goals > .goal-3 {
        padding: 2px;
    }

    .goals > .goal-1 .slider {
        background: linear-gradient(90deg, #fff 0, #fff 6.29%, hsla(0, 0%, 100%, .3) 7.29%, hsla(0, 0%, 100%, .3));
    }

    .goals > .goal-2 .slider {
        background-color: hsla(0, 0%, 100%, .3);
    }


    .goals > .goal-3 .slider {
        background-color: hsla(0, 0%, 100%, .3);
    }

.about-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

    .about-block p {
        padding: 5%;
    }

.ico-block {
    height:50%;
    background: #333;
    vertical-align: middle;    
    text-align:center;
}

.ico-block p {
    color: #fff;
    font-family: Roboto Condensed, sans-serif;
    font-size: 1100%;    
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.contacts-block {
    height:50%;
    vertical-align: middle;    
    text-align:center;
}

.contacts-block p {
    font-family: Roboto Condensed, sans-serif;
    font-size: 10rem;   
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
    .content {
        
    }

        .content h1 {
            font-size: 450%;
        }

        .content h2 {
            font-size: 180%;
        }

    .big-logo {
        height: 80px
    }

    .btn {
        font-size: 130%;
        padding: 9px 17px;
    }

    .container h1 {
        font-size: 250%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        
    }

        .content h1 {
            font-size: 300%;
        }
        .content h2 {
            font-size: 150%;
        }

    .big-logo {
        height: 60px
    }

    .btn {
        font-size: 110%;
        padding: 7px 17px;
    }

    p {
        font-size: 120%;
        line-height: 100%;
    }

    .container h1 {
        font-size: 200%;
    }

    .about-block {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .menu a {
        font-family: 'Montserrat', sans-serif;
        font-size: 100%;
    }

    .menu img {
    height: 25px;
    vertical-align: middle;
    margin-left: 3%;
}

    .goals header {
        font-size: 130%;
        line-height: 130%;
    }

    .goals footer {
        font-size: 130%;
        line-height: 130%;
    }

    
}

@media screen and (max-width: 500px) {
    .hamburger {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
        line-height: 40px;
    }

    .header-nav {
        height: 40px;
        line-height: 40px;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

        .menu a {
            clear: right;
            display: block;
            background: #ccc;
            border-bottom: 1px solid #CBDFD6;
            margin: 0;
        }

    #toggle:checked + .menu {
        display: block;
    }

    .content {
        
    }

        .content h1 {
            font-size: 200%;
        }

        .content h2 {
            font-size: 120%;
        }

    .btn {
        font-size: 80%;
        padding: 5px 12px;
    }

    p {
        font-size: 100%;
        line-height: 100%;
    }

    .goals {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding-top: 3%;
    }

    .goals header {
        font-size: 110%;
        line-height: 110%;
    }

    .goals footer {
        font-size: 110%;
        line-height: 110%;
    }

    .slider {
    height: 12px;
}

    .container h1 {
        font-size: 130%;
    }

    .container h2 {
        font-size: 120%;
    }

    .container li {
        font-size: 0.8rem;
    }

    .container li span {
        font-size: 1.8rem;
    }

    .about-block {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}
